#main-title {
    font-size: 20px;
    text-decoration: underline;
}

.article {
    width: 300px;
    border: 1px solid;
    box-shadow: 5px 5px lightgray;
}

.title {
    font-size: 16px;
}

.summary {
    color: gray;
}

.detail {
    visibility: hidden;
}

a {
    text-decoration: underline;
}

a:hover {
    background-color: lightgray;
}

.important {
    font-weight: bold;
}